@import "../../../SCSS/_mixin.scss";
.map-container {
  width: auto;
  height: 40rem;
  margin-top: 1rem;

  @include respond(tab-port) {
    height: 30rem;
  }
}

.marker {
  width: 2rem;
  height: 2rem;
  background-color: var(--color-accent);
}
